.bg-light {
    background-color: #28a745!important;
}
.nav-bg {
    background-color: #28a745;

}
.navbar-light .navbar-nav .nav-link {
    color: #fff!important;
}
.navbar-brand {
    color: #fff;
}

.navbar-light .navbar-brand {
   color: #fff;
}
