.footer {
    background: #141414;
    text-align: center;
}

.footer p {
    font-size: 11px;
    text-transform: uppercase;
    color: #e0e0e0;
    font-weight: 500;
    padding: 25px 0;
    margin: 0;
}